.mgn{
    margin-block-end: 0;
    margin-block-start: 0;
    margin-bottom: 2vh;
    text-align: left;
  }
  
  .rotatetext{
    transform: rotate(-90deg) translate(-3vh)
  }
  
  .marginLeft1{
    margin-left: 1vh;
  }
  
  /* Button CSS */
  .block {
    display: block;
    width: 90%;
    border: none;
    background-color: #04AA6D;
    padding: 3px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2vh;
    margin-bottom: 2vh;
    border-radius: 1vh;
  }
  
  /* Search Bar */
  * {
    box-sizing: border-box;
  }
  
  /* Style the search field */
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  /* Style the submit button */
  form.example button {
    float: left;
    width: 10%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .searchbarcss{
    margin-left: 5%;
    margin-right: 5%;
  }